* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style:  none; 
}

.header1 {
  background-color: #EC715F;
  height: 70px;
  margin:0 auto;
}

.nav1{
  width: 1024px;
  height: 70px;
  margin:0 auto;
}

.logo{
  width:150px;
  height: 70px;
  background-image: url(img/logo.png);
  background-repeat: no-repeat;
  background-size:150px 70px;
}


.ul-list{
  margin-right: 30px;
  color: #FAFAFA;
  font-size: 16px;
}

.ul-list a{
    color: #FAFAFA;
}

.main-visual{
  height: 650px;
  background-image: url(img/mv.png);
  background-size:100% 650px;
  background-repeat: no-repeat;
}

.main-fontedit{
  color:#fafafa;
  font-size: 65px;
  padding-top: 200px;
  margin-bottom: 10px;
}

.sub-fontedit{
  color:#fafafa;
    font-size: 20px;

}

.portfolio{
  background-color: #eceff1;
}

.heading{
  font-size: 32px;
  padding-top: 90px;
  margin-bottom:0 !important;
}

.container-portfolio{
  width: 920px;
  margin: 0 auto;
}

.line{
  width: 70px;
  margin: 0 auto 30px;
  padding-top: 8px;
  border-bottom: solid 3px #EC715F;
}

.portfolio-paragraph{
  font-size:16px;
}

.portfolio-img img{
  height: 250px;
  width: 300px;
}

.portfolio-img > div:nth-child(1){
  margin: 5px 10px 5px 0px;
}

.portfolio-img > div:nth-child(2){
  margin: 5px 10px 5px 0px;
}

.portfolio-img > div:nth-child(2){
  margin: 5px 10px 5px 0px;
}

.portfolio-img > div:nth-child(4){
  margin: 5px 10px 90px 0px;
}

.portfolio-img > div:nth-child(5){
  margin: 5px 10px 5px 0px;
}

.portfolio-img > div:nth-child(3){
  margin: 5px 0 5px 0px;
}

.portfolio-img > div:nth-child(6){
  margin: 5px 0 5px 0px;
}

.container-feature{
  width: 980px;
  margin: 0 auto; 
}

.feature-paragraph{
  font-size: 16px;
  margin-bottom: 30px;
}

.strength{
  margin-bottom: 90px;
}

.strength1{
  width: 320px;
  margin-right: 10px
}

.strength2{
  margin-right: 10px;
  width: 320px;
}

.strength3{
  margin-right: 0;
  width: 320px;
}

.icon{
    margin: 0 auto; 
}

.feature_logo{
  font-size: 60px;
}

.profile{
  background-color: #eceff1;
}

.container-profile{
  width: 1024px;
  margin: 0 auto;

}

.profile-paragraph{
  margin-bottom: 30px;
}

.profile-icon{
  width: 512px;
}

.profile-explanation{
  width: 512px;
}

.profile-heading{
  margin-bottom: 5px;
}

.profile-explanation > p:nth-child(1){
  margin-bottom: 20px;
}

footer{
  height: 60px;
  background-color: #EC715F;
}

footer h5{
  font-size: 16px;
  color: #FFFFFF;
}


