* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style:  none; 
}

.header1 {
  background-color: #EC715F;
  height: 70px;
}

.nav1{
  width: 1024px;
  height: 70px;
  margin:0 auto;
}

.logo{
  width:150px;
  height: 70px;
  background-image: url(img/logo.png);
  background-repeat: no-repeat;
  background-size:150px 70px;
}

.ul-list{
  margin-right: 30px;
  color: #FAFAFA;
  font-size: 16px;
}

.main-visual{
  height: 650px;
  background-image: url(img/mv.png);
  background-size:100% 650px;
  background-repeat: no-repeat;
}

.main-fontedit{
  color:#fafafa;
  font-size: 65px;
  padding-top: 200px;
  margin-bottom: 10px;
}

.sub-fontedit{
  color:#fafafa;
    font-size: 20px;

}